<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om oss</title>
    <link rel="stylesheet" href="../Styles/shared_components.css">
    <link rel="stylesheet" href="../Styles/about.css">
    <link rel="icon" href="../Images/Logga.png" type="image/png">


</head>
<body>
    <header class="Page_header">
        <div class="Page_intro">
            <div class="Page_intro--content">
                <div class="Page_intro--Logo">
                    <img src="../Images/Logga.png" alt="Logga mt_athletes">
                </div>
                <div class="Page_intro--location">
                    <img src="../Images/Location.png" alt="Platsikon">
                    <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=/maps/place//data%3D!4m2!3m1!1s0x46677b89428fda4b:0xf81f944bcc0eb04%3Fsa%3DX%26ved%3D1t:8290%26ictx%3D111&ved=2ahUKEwiKo6m4yb6LAxWFExAIHY6PN3sQ4kB6BAhCEAI&usg=AOvVaw1HsaYI5hBnaPMCLHWaKBpQ">Gammelvägen 16, 791 46 Falun</a>
                </div>
                <div class="Page_intro-socials">
                    <div class="socials_container"> <a href="https://www.facebook.com/MTathletesSWEDEN/"><img id="socials_icon--facebook" src="../Images/Facebook.png" alt="Facebook"> </a></div>
                    <div class="socials_container"> <a href="https://www.instagram.com/mt_athletes/"><img id="socials_icons--insta" src="./Images/Insta.png" alt="Instagram"> </a></div>
                    <div class="socials_container"><img id="socials_icons--mail" src="../Images/Mail.png" alt="Mail"></div>

                </div>
                
        </div>
        </div>
        <nav class="Page_nav">
            <ul class="Page_nav--list">    
                <li class="Nav_list--item" id="List_item--main"><a href="../index.html">Mt Athletes</a></li>
                <li class="Nav_list--item"><a href="/Views/about.html">Om oss</a></li>
                <li class="Nav_list--item"> <a href="/Views/Priser.html">Priser</a></li>
            </ul>
        </nav>
    </header>

        <main>
            <section>
                <img class="Logo" src="../Images/Logga.png" alt="Logga mt_athletes">
                 <div>
                    <p>
                        Vi på MT ATHLETES tror på att skapa förutsättningar för att varje individ ska nå sina mål. Oavsett om du är ny inom kampsport eller satsar på tävlingsnivå så är vår vision att hjälpa dig att utvecklas. MT ATHLETES är ärliga, professionella och kan ge dig kvalité.

                        I över 30 års erfarenhet som bl.a. thaiboxnings instruktörer och har sett kampsporten förändra människors liv i grunden.
                        Är du redo att ta nästa steg i din träning?

                        Vi hjälper dig med teknik, styrka och kondition och anpassar träningen utifrån dina specifika behov.
                        Oavsett om du vill ta din kampsports karriär till nästa nivå eller komma i form på ett roligt sätt med hjälp av engagerade tränare, så finns vi här för dig.
                    </p>
                 </div>
            </section>
            <section>
                <div>
                    <h1>Våra Instruktörer</h1>
                    <p>
                        Vi på MT ATHLETES tror på att skapa förutsättningar för att varje individ ska nå sina mål. Oavsett om du är ny inom kampsport eller satsar på tävlingsnivå så är vår vision att hjälpa dig att utvecklas. MT ATHLETES är ärliga, professionella och kan ge dig kvalité.
                    </p>
                    <p>
                        I över 30 års erfarenhet som bl.a. thaiboxnings instruktörer och har sett kampsporten förändra människors liv i grunden.
                        Är du redo att ta nästa steg i din träning?
                    </p>
                    <p>
                        Vi hjälper dig med teknik, styrka och kondition och anpassar träningen utifrån dina specifika behov.
                        Oavsett om du vill ta din kampsports karriär till nästa nivå eller komma i form på ett roligt sätt med hjälp av engagerade tränare, så finns vi här för dig.
                        
                    </p>
                 </div>

                 <div class="Instruktörer_utbildning">
                    <h2>Utbildning inom kampsport</h2>
                    <ul class="Utbildning_list">
                        <li>International Muaythai Study Association Certifcate of achievement (Red &white- mongkol) `”College for Muay Thai Study”</li>
                        <li>Elit & Utveckling (E&U) Europa Instruktörslicens inom kompsort 1 till 3, (ENSSEE) från Svenska Budo & Kampsportsförbundets</li>
                        <li>svenskaMuaythaiförbudets tränarutbildning 1&2</li>
                        <li>Saario academy Defendo Hard Target och Combat Tech Instruktör. SCANDINAVIAN DEFENDO europeiskt självförsvar system effektiva metoderna från de olika kamp system som han tränat genom åren just nu.</li>
                    </ul>
                 </div>
            </section>

            <section class="Tränare_section">
                <div class="Tränare">
                    <img src="../Images/mattias.webp" alt="Bild på kru Mattias">
                    <h1>Kru Mattias Berger</h1>
                    <div class="Tränare_text">
                        <p>
                            Med en bred och lång erfarenhet av olika kampsporter tillför Kru Mattias stor kunskap inom företaget. 
                            Han har utbildningar inte bara inom kampsport utan även inom självskydd. På fritiden håller han sig aktiv genom gym, 
                            flera olika kampsportsstilar samt springer leriga hinderlopp. 
                            Mattias påhittighet på träningarna är alltid uppskattad. 
                            Kru Mattias är en av de första i norra Europa som utbildat sig till Kru MuayThai ”Röd Mongkol ” på College for Muay Thai Study, 
                            Muaythai Universitetet i Ratchaburi, Thailand. Nu vill han sprida sina kunskaper och lära ut ”hemligheterna” bakom riktigt bra traditionell Muaythai.
                        </p>
                    </div>
                </div>

                <div class="Tränare">
                    <img src="../Images/tam.webp" alt="Bild på kru Tam">
                    <h1>Kru Tam Stadigs Thuraphaeng</h1>
                    <div class="Tränare_text">
                        <p> 
                            Ursprungligen kommer Tam från Thailand och han har utövat Muay Thai sedan barnsben. 
                            I bagaget har han mer än tio års erfarenhet av att coacha thaiboxare både under träning och tävling. 
                            Han har också gått ett flertal instruktörsutbildningar. Detta i kombination gör att Tam besitter helt unika kunskaper inom thaiboxning.
                            Han brinner för sporten liksom för varje utövares personliga utveckling. 
                            Med sin pedagogiska lärostil är han mycket omtyckt av eleverna som märker snabba resultat när Tam petar i detaljerna. 
                        </p>
                    </div>

                </div>
            </section>

        </main>

</body>
<script src="../Javascript/sharedfunctions.js"></script> </head>

</html>
