<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mt_athletes</title>
    <link rel="stylesheet" href="../Styles/shared_components.css">
    <link rel="stylesheet" href="../Styles/index.css">
</head>
<body>
    <header class="Page_header">
        <nav class="Page_nav">
            <ul class="Page_nav--list">    
                <li class="Nav_list--item"><a href="">Mt Athletes<br>Teamet Bakom atleten</a></li>
                <li class="Nav_list--item"><a href="../Views/about.html">Om oss</a></li>
                <li class="Nav_list--item"> <a href="">Priser</a></li>
            </ul>
        </nav>
    </header>

        <main>
            <section>
                <img class="Logo" src="../Images/Logga.png" alt="Logga Mt-Athletes">
                <h1>MT Athletes</h1>
                <h2>Vi finns för att hjälpa dig att uppnå dina mål. Vi kan hjälpa dig med personlig träning, Thaiboxning, styrketräning, självförsvar, seminarium, och mycket mer inom MuayThai</h2>
            </section>

                <section>
                    <ul class="Button_group">
                    <button class="Button_group--btn"> <a href="" target="_blank" rel="noopener noreferrer">Kontakt</a></button>
                    <button class="Button_group--btn"> <a href="https://www.facebook.com/MTathletesSWEDEN/" target="_blank">Facebook</a></button>
                    <button class="Button_group--btn"> <a href="https://www.instagram.com/mt_athletes/" target="_blank">Instagram</a></button>
                    </ul>
                </section>

            <section>
                <p>
                    Vi tror på att skapa förutsättningar för att varje individ ska nå sina mål. Oavsett om du är ny inom kampsport eller satsar på tävlingsnivå så är vår vision att hjälpa dig att utvecklas. MT ATHLETES är ärliga, professionella och kan ge dig kvalité.

                    Med över 30 års erfarenhet som bl.a. Thaiboxnings MuayThai instruktörer och har sett kampsporten förändra människors liv i grunden.
                    Är du redo att ta nästa steg i din träning?

                    Vi hjälper dig med teknik, styrka och kondition och anpassar träningen utifrån dina specifika behov.
                    Oavsett om du vill ta din kampsports karriär till nästa nivå eller komma i form på ett roligt sätt med hjälp av engagerade tränare, så finns vi här för dig.

                </p>
            </section>

            <section>
                <img src="../Images/Figure_home.png" alt="Instruktörer på MT Athletes bugar">

            </section>


        </main>
</body>
</html>
