<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav">
            <div> 
                <img src="../Images/Logga.png" alt="Logga Mt-Athletes">
            </div>
            <ul>
                <li>MT Athletes</li>
                <li>Om oss</li>
                <li>MT Athletes</li>
                <li>Priser</li>
            </ul>
        </nav>
    </header>
</body>
</html>
