<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MT ATHLETES-Teamet bakom atleten</title>
    <link rel="stylesheet" href="../Styles/shared_components.css">
    <link rel="stylesheet" href="../Styles/index.css">
    <link rel="icon" href="../Images/Logga.png" type="image/png">
<body>
    <header class="Page_header">
        <div class="Page_intro">
            <div class="Page_intro--content">
                <div class="Page_intro--Logo">
                    <img src="../Images/Logga.png" alt="Logga mt_athletes">
                </div>
                <div class="Page_intro--location">
                    <img src="../Images/Location.png" alt="Platsikon">
                    <a href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=/maps/place//data%3D!4m2!3m1!1s0x46677b89428fda4b:0xf81f944bcc0eb04%3Fsa%3DX%26ved%3D1t:8290%26ictx%3D111&ved=2ahUKEwiKo6m4yb6LAxWFExAIHY6PN3sQ4kB6BAhCEAI&usg=AOvVaw1HsaYI5hBnaPMCLHWaKBpQ">Gammelvägen 16, 791 46 Falun</a>
                </div>
                <div class="Page_intro-socials">
                    <div class="socials_container"> <a href="https://www.facebook.com/MTathletesSWEDEN/"><img id="socials_icon--facebook" src="../Images/Facebook.png" alt="Facebook"> </a></div>
                    <div class="socials_container"> <a href="https://www.instagram.com/mt_athletes/"><img id="socials_icons--insta" src="../Images/Insta.png" alt="Instagram"> </a></div>
                    <div class="socials_container"><img id="socials_icons--mail" src="../Images/Mail.png" alt="Mail"></div>
            </div>
                
        </div>
        </div>
        <nav class="Page_nav">
            <ul class="Page_nav--list">    
                <li class="Nav_list--item" id="List_item--main"><a href="/Views/index.html">Mt Athletes</a></li>
                <li class="Nav_list--item"><a href="/Views/about.html">Om oss</a></li>
                <li class="Nav_list--item"> <a href="/Views/Priser.html">Priser</a></li>
            </ul>
        </nav>
    </header>

        <main>
            <section>
                <img class="Logo" src="../Images/Logga.png" alt="Logga Mt-Athletes">
                <h1>MT Athletes</h1>
                <h2>Vi finns för att hjälpa dig att uppnå dina mål. Vi kan hjälpa dig med personlig träning, Thaiboxning, styrketräning, självförsvar, seminarium, och mycket mer inom MuayThai</h2>
            </section>

                <section class="Reviews">
                    <div><h1>Vad folk säger om oss</h1></div>
                    <div class="Reviews_content">
                        <div class="Reviews_content--item">
                            <h1>Elina Jakobsson</h1>
                            <p class="item_text">Grym gemenskap och roliga träningar!</p>
                        </div> 
                        <div class="Reviews_content--item">
                            <h1>Ying stadigs</h1>
                            <p class="item_text">Bra och proffsigt 👍👍</p>
                        </div>
                          <div class="Reviews_content--item">
                            <h1>Nataly</h1>
                            <p class="item_text">Bra tränare som ser till att pusha en längre än man själv tror man klarar. Positiva och lyhörda.
                                5 av 5 mitsar!</p>
                        </div>
                          <div class="Reviews_content--item">
                            <h1>Avesta Muay Thai</h1>
                            <p class="item_text">Helt perfekt! 10/10 får ni i betyg. Alla verkade nöjda. Vi ses i framtiden.</p>
                        </div>
                        
                    </div>
                </section>

            <section>
                <p>
                    Vi tror på att skapa förutsättningar för att varje individ ska nå sina mål. Oavsett om du är ny inom kampsport eller satsar på tävlingsnivå så är vår vision att hjälpa dig att utvecklas. MT ATHLETES är ärliga, professionella och kan ge dig kvalité.

                    Med över 30 års erfarenhet som bl.a. Thaiboxnings MuayThai instruktörer och har sett kampsporten förändra människors liv i grunden.
                    Är du redo att ta nästa steg i din träning?

                    Vi hjälper dig med teknik, styrka och kondition och anpassar träningen utifrån dina specifika behov.
                    Oavsett om du vill ta din kampsports karriär till nästa nivå eller komma i form på ett roligt sätt med hjälp av engagerade tränare, så finns vi här för dig.

                </p>
            </section>

            <section>
                <img src="../Images/Figure_home.png" alt="Instruktörer på MT Athletes bugar">

            </section>


        </main>
</body>
<script src="../Javascript/sharedfunctions.js"></script> </head>

</html>
