<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om oss</title>
    <link rel="stylesheet" href="../Styles/shared_components.css">
    <link rel="stylesheet" href="../Styles/Prsier.css">
    <link rel="icon" href="../Images/Logga.png" type="image/png">

</head>
<body>
    <header class="Page_header">
        <nav class="Page_nav">
            <ul class="Page_nav--list">    
                <li class="Nav_list--item" id="List_item--main"><a href="/Views/index.html">Mt Athletes<br>Teamet Bakom atleten</a></li>
                <li class="Nav_list--item"><a href="/Views/about.html">Om oss</a></li>
                <li class="Nav_list--item"> <a href="/Views/Priser.html">Priser</a></li>
            </ul>
        </nav>
    </header>

        <main>
            <section class="Priser">
                <div class="Priser_content">
                    <div >
                        <h1>Duo PT</h1>
                        <ul>
                            <li>1 lektion = 1400:-</li>
                            <li>5 lektioner = 6500:-</li>
                            <li>10 lektioner = 12 500:-</li>
                        </ul>
                    </div> 
                     <div >
                        <h1>Grupp</h1>
                        <ul>
                            <li>350 :- / Deltagare (minst fyra)</li>
                            
                        </ul>

                    </div> 
                     <div >
                        <h1>Seminarium och utbildning</h1>
                        <ul>
                            <li>Kontakta oss nedan med era önskemål.</li>
                            
                        </ul>
                    </div>  
                    <div >
                        <h1>Privatlektioner</h1>
                        <ul>
                            <li>1 lektion = 750:-</li>
                            <li>5 lektioner = 3500:-</li>
                            <li>10 lektioner = 6500:-</li>
                        </ul>
                    </div>    
                     <div >
                        <h1>Träningsschema och dagbok</h1>
                        <ul>
                            <li>1st = 1000:-</li>
                            
                        </ul>
                    </div>

                </div>

            </section>
            
            <section class="Images">
                <div class="Logo">
                    <img src="../Images/Logga.png" alt="Logga mt_athletes">

                </div>
                <div class="tränare">
                    <div class="tränare_image">
                        <img src="../Images/tam-mits.png" alt="Tam håller mitsar">
                    </div>
                    <div class="tränare_image">
                        <img src="../Images/mat-mits.png" alt="Mattias håller mitsar">
                    </div>
                </div>
            </section>

        </main>
</body>
</html>
