.Logo {
    width: 40%;
    height: auto;
}

.Instruktörer_utbildning {
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.Tränare_section {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Tränare {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Tränare img {
    width: 20%;
    height: auto;
}

.Tränare img, .Tränare h1 {
    margin-bottom: 1em;
}

.Utbildning_list{
    list-style-type: circle;
}

@media screen and (max-width: 768px) {
    section {
        width: 80%;
    }
    .Logo {
        width: 60%;
    }

    .Tränare img {
        width: 40%;
    }

    .Instruktörer_utbildning {
        width: 90%;
    }

    section {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    section {
        width: 80%;
    }
    .Logo {
        width: 80%;
    }

    .Tränare img {
        width: 60%;
    }

    .Instruktörer_utbildning {
        width: 100%;
    }

}